
#logoBackground {
    position: absolute;
width: 315px;
height: 315px;
left: 128.56px;
top: 177px;

background: #F4F4F4;
transform: rotate(8.87deg);
transition: 1s;
}

#logo {
    position: absolute;
    width: 355px;
    height: 299px;
    left: 115px;
    top: 180px;
    transition: 1s; 
}

.textLogo {
    position: absolute;
width: 188px;
height: 58px;
left: 423px;
top: 160px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 58px;
transition: 1s; 
/* identical to box height */


color: #2F97F7;
}

#textLogoColor {
color: #000000;
}

#infoText {
    position: absolute;
width: 578px;
height: 117px;
left: 445px;
top: 270px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
transition: 1s;
color: #000000;

}

#infoText2 {
    position: absolute;
width: 578px;
height: 117px;
left: 380px;
top: 420px;

font-family: 'Inter';
font-style: normal;
font-weight: 100;
font-size: 40px;
line-height: 39px;
color: #000000;

}

#cube {
    z-index: -1;
    position: absolute;
width: 120px;
height: 120px;
left: 940px;
top: 400px;

background: #F4F4F4;
transform: rotate(-17.96deg);
}

#cube2 {
    position: absolute;
    width: 80.87px;
    height: 80.87px;
    left: 930px;
    top: 470px;
    
    background: #E9E9E9;
    transform: rotate(7.62deg);
    transition: 1s;
}

#CreatorBackground {
    position: absolute;
    float: right;
width: 315px;
height: 315px;
right: 128.56px;
top: 177px;

background: #F4F4F4;
transform: rotate(-4.53deg);
transition: 1s;
}

#Creator {
    position: absolute;
    float: right;
    width: 335px;
    height: 279px;
    right: 155px;
    top: 200px;
    transition: 1s;
}

#vector {
    position: absolute;
width: 150px;
height: 40px;
left: 50px;
top: 450px;
transition: 1s;
transform: rotate(-4.25deg);
}

.cap {
    opacity: 0.9;
    z-index: 20;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #2F97F7;

    display: fixed;
}

.butt {
    color: rgb(255, 255, 255);
    margin: 0;
    float: right;
    padding: 24.8px;
    font-size: 25px;
    font-family: 'Inter';
font-style: normal;
transition: 0.3s;
}


.butt3 {
    border-top: solid 1px #13549e;

    width: calc(100% - 24.8px - 24.8px);
    z-index: 102;
    color: rgb(255, 255, 255);
    margin: 0;
    float: right;
    padding: 24.8px;
    font-size: 25px;
    font-family: 'Inter';
font-style: normal;
transition: 0.3s;
}






.butt2 {
    display: none;
    width: 30px;
    height: 30px;
    color: rgb(255, 255, 255);
    margin: 0;
    float: right;
    padding: 24.8px;
    font-size: 25px;
    font-family: 'Inter';
font-style: normal;
transition: 0.3s;
cursor: pointer;

}


#buttLogo {
    color: rgb(255, 255, 255);
    margin: 0;
    float: left;
    top: 0;
    width: 250px;
    height: 100%;
    font-size: 25px;
    font-family: 'Inter';
font-style: normal;
transition: 0.3s;
background-image: url(logo2.png);
background-size: contain;
}

.butt:hover {
     background-color: #3183d1;
     cursor: pointer;

}

.butt2:hover {
    background-color: #3183d1;
    cursor: pointer;

}

.butt3:hover {
    background-color: #3183d1;
    cursor: pointer;

}

#righty {
    float: right;
    width: 60px;
    height: 1px;
}



#inf {
    opacity: 0.8;
    display: none;
    position: fixed;
    margin-top: 80px;
    width: 300px;
    height: 300px;
    right: 0;
    margin-right: 8px;
    z-index: 100;
    background-color: #474747;
    border-radius: 10px;
    transition: 0.3s;
}

#creatorInfo {
    margin-top: 30px;
    margin-left: 30px;
    width: 250px;
    height: 250px;
}

.tyu {
    display: none;
    margin-right: -62.27px;
    transition: 1s;
}


#personal-pics{
    position: absolute;
    margin-top: 40px;
    margin-left: 40px;
    float: left;
    width: 1000px;
    background-color: rgb(179, 179, 179);
    height: 500px;        
    transition: 1s;  
    box-shadow: inset 0px 0px 20px 10px #000000;
}
.round{
    display: inline-block;
    width: 1000px;
    height: 500px; 
    vertical-align: top;
    background-position:center center;
    background-size:cover;  
    box-shadow: inset 0px 0px 20px 10px #000000;
}

.bach {
    position: absolute;
    z-index: -1;
    background-color: #2F97F7;
    margin-top: 690px;
    width: 100%;
    left: 0;
    right: 0;
    height: auto;  
    transition: 1s;   
    display: table-row;

}

.im {
    position: absolute;
    margin-top: 32px;
    margin-left:1100px;
    font-family: 'Inter';
    color: rgb(255, 255, 255);
font-style: normal;
font-weight: 500;
font-size: 48px;
transition: 1s;
}

#BackMenu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #000000;
    opacity: 0.5;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#menu {
    display: none;
    position: fixed;
    height: 100%;
    width: 400px;
    background-color: #2F97F7;
    z-index: 100;
    right: 0;
    top: 0;
    bottom: 0;
}

.block1 {
    display: table-cell;
    margin: 40px;
    width: 400px;
    height: 400px;
    background-color: #fdfdfd;
}

.block2 {
    background-image: url(top.png);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height:250px;
    background-color: #474747;
    box-shadow: inset 0px 0px 30px 3px #000000;
}

.block21 {
    background-image: url(top1.png);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height:250px;
    background-color: #474747;
    box-shadow: inset 0px 0px 30px 3px #000000;
}

.block3 {
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Inter';
font-style: normal;
padding: 0;
padding: 20px;

text-align: center;

}


#heh {
    padding: 40px;
    background-color: #2F97F7;
}